* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

.chevron {
    /* height: 10px; */
    margin-left: 5px;
    /* padding-top: 3px; */
    height: 7px;
    width: 6px;
    left: 7px;
    top: 5px;
    border-radius: 0px;

}

/* first section starts here */
/* mobile nav starts here */

.nav-mobile {
    display: none;

}

.hamburger {
    width: 30px;
    height: 12px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    margin-right: 20px;
    transition: all 0.4s ease;
}

.menubar {
    width: 100%;
    height: 5px;
    background: transparent;
    position: relative;
}

.menubar::before {
    content: '';
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    transform: translateY(5px);
}

.menubar::after {
    content: '';
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    transform: translateY(-5px);
}

.showlink .menubar {
    background: transparent;
}

.showlink .menubar::before {
    transform: rotate(45deg);
}

.showlink .menubar::after {
    transform: rotate(-45deg);
}

.mobilelink-holder {
    width: 100%;
}

.mobilelink-holder h1 {
    color: #ffff;
    font-size: 34px;
    font-family: 'Merriweather', serif;
}

.mobilelink-holder ul {
    width: 100%;
    display: none;
}

.mobilelink-holder li {
    width: 100%;
    list-style: none;
    padding: 20px 0;
    height: 70px;
    background: #d9d9d9;
    display: block;
    justify-content: space-evenly;
    font-family: 'Varta', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #706458;

}

.showmobilelink {
    display: block;
    width: 100%;


}

.showmobilelink ul {
    width: 100%;
    display: block;
    padding: 0;
    position: relative;
    transition: all 0.5s ease;
}


.showmobilelink li {

    width: 100%;
    list-style: none;
    padding: 20px;
    height: 70px;
    background: #d9d9d9;
    display: block;
    font-family: 'Varta', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #706458;
}


.showmobilelink li:hover {
    background: transparent;
    color: #ffffff;
}

/* mobile nav ends here */

.header-container {
    /* border: 3px solid tomato; */
    display: flex;
}


.left-div {
    /* border: 3px solid blue; */
    background: #F3EEE8;
    width: 50%;
    padding-top: 30px;
    padding-left: 90px;

}

.link-holder {
    /* border: 3px solid green; */
    display: flex;
}

.link-holder h1 {
    color: #A06056;
    font-size: 34px;
    font-family: 'Merriweather', serif;
}

.link-holder ul {
    /* border: 3px solid black; */
    width: 90%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.link-holder li {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Varta', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #706458;
}

.design1 {
    color: #A06056;
    font-family: 'Varta', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 50px 0;
}

.header-content h2 {
    color: #A06056;
    margin: 30px 0;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 50px;
    line-height: 1.2;
}

.about-us {
    font-family: 'Varta', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: rgba(112, 100, 88, 0.9)
}

.icon {
    margin-top: 30px;
    width: 30px;
    height: 30px;
    color: #A06056;
    border: 1px solid #A06056;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-div {
    width: 50%;
    height: 820px;
}

/* first section ends here */

/* second section starts here */
.second-section {
    display: flex;
    background: #F3EEE8;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 40px;
}

.second-section_content {
    width: 50%;
}

.second-section_content h3 {
    color: #706458;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 55px;
    margin-bottom: 20px;
}

.second-section_content p {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #A06056;
}

.second-section_details {
    display: flex;
    width: 50%;
    padding-top: 20px;

}

.left-details {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.left-details_top {
    margin-bottom: 20px;
}

.left-details h4 {
    color: #A06056;
    font-family: 'Varta', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.left-details p {
    font-family: 'Varta', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
}

.right-details {
    display: flex;
    flex-direction: column;
}

.right-details h4 {
    color: #A06056;
    font-family: 'Varta', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}

.right-details p {
    font-family: 'Varta', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.right-details_bottom {
    margin-top: 65px;
}

/*second section ends here  */


/* third section starts here */

.third-section {
    /* border: 3px solid tomato; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 30px 30px;
}

.third-section_content {
    width: 50%;
}

.third-section_content h3 {
    color: #121212;
    font-family: 'Merriweather', serif;
    font-size: 35px;
    font-weight: 300;
}

.third-section_content p {
    font-family: 'Varta', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}

.third-section_content button {
    font-family: 'Karla', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #A06056;
    background: transparent;
    border: 2px solid transparent;
}

.cta-input-holder {
    width: 50%;
    display: flex;
    align-items: center;
}

input {
    width: 300px;
    height: 50px;
    padding-left: 30px;
}

input:hover {
    width: 400px;
    padding-left: 50px;
}

.btn {
    color: #ffffff;
    font-family: 'Karla', sans-serif;
    height: 50px;
    width: 145px;
    background: #534B42;
    border: 2px solid transparent;
}

/* third section ends here */

.design-container {
    width: 90%;
    margin: 0 auto;
}

.sample-designs {
    /* border: 3px solid tomato; */
    display: flex;
    justify-content: space-evenly;
    padding-left: 15px;

}

.interior-images {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin: 0 15px;

}

.last_img {
    width: 450px;
    padding-bottom: 70px;
    margin-bottom: 70px;
    overflow: hidden;
}

.design-about {
    display: flex;
    /* justify-content: space-between; */
    padding: 20px 20px 60px 20px;
}

.design-about h2 {
    color: #A06056;
    margin: 30px 0;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 50px;
}

.design-about p {
    width: 300px;
    font-family: Varta;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 180px 0 50px;
    padding-top: 20px;
    font-weight: 400;
}

.bottom-icon {
    display: flex;
}

.bottom-icon span {
    padding: 0 20px;
}

/* footer section starts here */
footer {
    /* border: 2px solid tomato; */
    background: #F3EEE8;
    padding: 40px 5px;

}

.shortcuts {
    display: flex;
    justify-content: space-evenly;
    padding: 0 70px;
}

.shortcuts h3 {
    font-family: Merriweather;
    font-size: 34px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: left;
    color: #534B42;


}

.shortcuts h4 {
    font-family: Varta;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    margin-bottom: 20px;
    color: #534B42;


}

.shortcut-links_holder {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
}

.short-links p {
    margin: 10px 0;
    font-family: Varta;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #706458;
    cursor: pointer;

}

.footer_img {
    width: 242px;
    height: 182px;
    margin-top: 25px;
}

.footer_img+p {
    width: 235px;
    height: 100px;
    font-family: Varta;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 20px;
    color: #706458;
}

.shortcuts button {
    font-family: 'Karla';
    font-size: 17px;
    font-weight: 700;
    color: #A06056;
    background: transparent;
    border: 2px solid transparent;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-holder {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.social-link {
    border: 2px solid #A06056;
    height: 40px;
    width: 40px;
    left: 6px;
    top: 0px;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #706458;
    cursor: pointer;
}

.contact_developer {

    display: flex;
    justify-content: space-between;
    padding: 30px 90px;
}

.copyright {
    font-family: Varta;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(112, 100, 88, 0.7);

}

.terms {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.terms p {
    font-family: Varta;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #706458B2;



}

/* footer section ends here */